.headerContainer {
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
background: #FAFAFA;
margin-top: 32px;



  .menubar {
    display: none;
   
  }
  .newDrops {
     width: 301px;
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
    color: #232321;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
  }
  .aboutUs {
    width: 301px;
    display: flex;
    // width: 18.8125rem;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    flex-shrink: 0;
    .cart {
      display: flex;
      width: 2rem;
      height: 2rem;
      padding: 0.625rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      flex-shrink: 0;
      border-radius: 2rem;
      background: #ffa52f;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .headerContainer {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.75rem;
    background: #fafafa;
    align-items: center;
    .newDrops {
      display: none;
    }
    .menubar {
      display: block;
    }
    .logo {
      width: 5rem;
      height: 1.25rem;
    }
    .aboutUs {
        width: 0;
        gap: 9px;
      .seachIcon {
        display: none;
      }
      .cart {
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
      }
    }
  }
}
