*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;

}
 body{
   font-family: 'Rubik', sans-serif;
 }

 /* .App{
   max-width: 1320px  !important;
    margin: 0 auto;
     overflow: hidden;
     padding: 0 10px ;
   background:  #FFF;
} */
