.gridImg_details_Container {
  display: flex;
  // justify-content: space-between;
  gap: 16px;
  .img_grid_container {
    display: grid;
    grid-template-columns: 429px 429px;
    gap: 16px;
    .gridImg {
      //     width: 429px;
      // height: 510px;
    }
  }
  .shoe_details {
    .comming_details {
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 12px 16px;
      border-radius: 12px;
      background: #4a69e2;
      width: 106px;
      height: 38px;
    }
    .shoeTitle {
      margin: 16px 0;
      color: #232321;
      font-size: 31px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .price {
      color: #4a69e2;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .colors_container {
      margin: 32px 0;
      .colortitle {
        color: #232321;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      .colorMain {
        display: flex;
        gap: 16px;
        .color_border {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          padding: 5px;
          border: 2px solid;
        }
        .color {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          padding: 5px;
        }
      }
    }
    .size_and_charts_container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      .size {
        color: #232321;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .sizeChart {
        color: #232321;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.25px;
        text-decoration-line: underline;
        text-transform: uppercase;
      }
    }
    .sizelabel {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;

      .buttonSize {
        height: 48px;
        width: 47px;
        padding: 8px 16px;
        color: #232321;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }
      .avilable {
        color: #8f8c91;
        border-radius: 8px;
        background: #d2d1d3;
      }
      .dark {
        color: #fff;
        background: #232321;
      }
      .notavailable {
        // background: yellow;
      }
    }
    .cart_andFav{
      margin-top: 32px;
       display: flex;
       gap: 8px;
       align-items: center;
       button{
        color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.25px;
text-transform: uppercase;
height: 48px;
padding: 8px 16px;
border: none;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #232321;
width: 100%;
       }
       .fav{
        display: flex;
height: 48px;
padding: 8px 16px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #232321;
       }
    }
    .buy_it{
      color: var(--White, #FFF);
margin-top: 8px;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.25px;
text-transform: uppercase;
display: flex;
height: 48px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 4px;
align-self: stretch;
width: 100%;
border-radius: 8px;
background:#4A69E2;
border: none;
    }
    .aboutContiner{
       margin-top: 32px;
       h5{
        color:  #232321;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
       }
       .title_and_details{
        margin-top: 8px;
        p{
          color: #232321;
          opacity: 0.8;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

        }
        .offer{
           margin-top: 25px;
           opacity: 0.8;
        }
        .list{
          margin-top: 25px;
          li{
            opacity: 0.8;
            color: #232321;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
       }
    }
  }
}
