
.heroText{
    width: 1318px !important;
    h1 {

            color: #232321;
            font-size: 13.96875rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            span{
                color: #4a69e2; 
                font-size: 13.96875rem;
            }
          }
}
//   .h1s {
//     color: #232321;
//     font-size: 13.96875rem;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     text-transform: uppercase;
//   }
//     .spans {
//       color: #4a69e2;
//       font-size: 13.96875rem;
//       font-style: normal;
//       font-weight: 700;
//       line-height: normal;
//       text-transform: uppercase;
    
//   }
