.heroCutOut_Conatiner{
    margin-top: 1.5rem;
    
    .titleConatiner{
        
         h1{color:#232321;
font-size: 13.96875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
 span{
    color:  #4A69E2;
// font-size: 13.96875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
 }
         }
    }
}